body {
    background-color: lightgray;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

img {
    margin: 2%;
   
}

h1 {
    font-family: 'Fjalla One', sans-serif;
}

h2 {
    padding:0 0 15px 100px;
    background-color: #4aaaa5;
    color: #ffffff;

}

header::after {
    content: '';
    display: table;
    clear: both;
}

header {
    background-color: #ffffff;
}

.name-tag {
    color: #ffffff;
    background-color:#4aaaa5;
    float: left;
    margin: 0;
    padding: 25px 25px;
    font-size: 35px;
    font-weight: bold;
    
}

.topnav {
    width: 960px;
    border-width: 100px;
    margin-left: 10%;
}

nav {
    float: right;
    margin-left: 200px;
}

nav ul {
    margin: 30px -110px 0 50px;
    padding-left: 50px;
    list-style: none;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    
}

.button:link {
    text-decoration: none;
}

.button:visited {
    text-decoration: none;
}
.button:hover {
    text-decoration: none;
    background-color: #4aaaa5;
}

.button:active {
    text-decoration: none;
}

nav li {
    display: inline;
    margin-left: 30px;
    
}


.content-header {
    color: #4aaaa5;
    border-bottom: 2px solid lightgray;
    margin: 25px;
    padding: 25px 0px 25px 0px;
    font-size: 35px;
    font-weight: bold;
    
}

.container {
    background-color: #ffffff;
    margin: 50px 10% 100px 10%;
    border-width: 5px;
    height: 800px;
    width: 80%;
    
}

p {
    margin: 2%;
    font-size: 20px;
    
}

#p1 {
    line-height: 30px;
}

#p2 {
    line-height: 30px;
}

.profile-pic {
    float: left;
    margin: 25px;
}

.content {
    display: inline-block;
}



.port-image {
    float: left;
    margin: 3% 3% 0 3%;
    padding-left: 10%;

}

.left -image {
    float: left;
}


footer {
    text-align: center;
    background-color: #666666;
    border-top: 10px solid #4aaaa5;
    padding-bottom: 10%;
    color: #ffffff;
}

#copyright {
    padding-top: 100%;
}

input[type=text], select, textarea {
    width: 100%; 
    padding: 12px;   
    border: 1px solid #ccc;
    border-radius: 4px; 
    box-sizing: border-box; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical 
}

.form-content {
    border-radius: 5px;
    background-color: :#ffffff;
    padding: 20px;
}

#submit {
    background-color: #4aaaa5;
    color: #ffffff;
    margin: 0;
    font-size: 20px;
    padding: 5px 12px;
    /* transition-duration: 1s; */
    border: 0px;
    width: 8%;
}

#submit:hover {
    background-color:#ffffff;
    color: #4aaaa5;
    border: 1px groove #4aaaa5;
    transition-duration: 1s;
}